body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6347;
    color: white;
    padding: 15px 18px;
}

header h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu .item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    box-sizing: border-box;
    text-align: center;
}
#ensalada, #tacos, #sushi, #pasta {
    width: 100%;
    height: auto;
}
#Hamburguesa{
    width: 100%;
    height: 63%;
}
#pizza{
    width: 100%;
    height: 63%;
}
.cart {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
}

.cart ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e55337;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
